<br>
<div style="text-align:center">
  <%= form_tag listings_path, method: "GET", html: {class: "form-inline"} do %>
    
    <%= search :tags, prompt: "Select Attribute" %>
    <%= submit_tag "GO" %>
  <% end %>
</div>

<br>
<% for listing in @listings do%>
  <%= render partial: "show", locals: {listing: listing} %>
<% end %>
