<script type="text/javascript">
  mixpanel.track("first_page")
</script>
<div style="text-align:center;">
  <h1>Not sure what to charge for your apartment?</h1>
  <h4>The rentalyzer will scan comparable listings to help you figure it out.</h4>

  <div class="row-fluid">
    <div class="span4">
      <p>LEFT</p>
    </div>
    <div class="span4">
      <p>MIDDLE</p>
    </div>
    <div class="span4">
      <p>RIGHT</p>
    </div>
  
  </div>
