<div style="text-align:center;">
  <h1>Not sure what to charge for your apartment?</h1>
  <h4>The rentalyzer will scan comparable listings to help you figure it out.</h4>

  <div class="analyze-bar">
    <%= render 'form' %>
  </div>
  <br>
</div>

