<div style="text-align:center;">
  <h2>
    Before we go ahead and crunch those numbers, <br>
    can you confirm the location of your apartment?
  </h2>
  <br>
  <div>
    <%= render 'form_hidden' %>
  </div>
  <br>
  <div>
    <img src="<%= @analysis.get_self_map %>">
  </div>
</div>

