<script type="text/javascript">
  mixpanel.track("New")
</script>

<div style="text-align:center;">
  <h2 id='h2'>
    Before we go ahead and crunch those numbers, <br>
    can you confirm the location of your apartment?
  </h2>
  <br>
  <div>
    Hide me
  </div>
  <br>
  <div>
    <img src="<%= @analysis.get_self_map %>">
  </div>
</div>
<script>
  document.getElementById('h2').innerText = "something";
</script>
