  <div id='overview_table pull-right'>
    <ul>
      <li>
      <h6> Lowest price </h6>
      <p class='label label-info' style=''> $<%= segment.min_price %> </p>
      </li>
      <br />
      <li>
      <h6> Median price </h6>
      <p class='label label-success'> $<%= segment.median %> </p>
      </li>
      <br />
      <li>
      <h6> Highest price </h6>
      <p class='label label-warning'> $<%= segment.max_price %> </p>
      </li>
    </ul>
  </table>
