  <div id='overview_table' style="text-align:center">
    <ul>
      <li>
      <h5> Lowest price </h5>
      <span class='label label-info'> $<%= segment.min_price %> </span>
      </li>
      <br />
      <li>
      <h5> Median price </h5>
      <p class='label label-success'> $<%= segment.median %> </p>
      </li>
      <br />
      <li>
      <h5> Highest price </h5>
      <p class='label label-warning'> $<%= segment.max_price %> </p>
      </li>
    </ul>
  </table>
