ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

.bleed {
  position:relative;
  width:100%;
  top:0;
  right:0;
  left:0;
  z-index:-1;
}


#main_container{
  -webkit-box-shadow: 0 -2px 15px #434343;
  -moz-box-shadow: 0 -2px 15px #434343;
  box-shadow: 0 -2px 15px #434343;
}

#demobox {
  opacity:0.85;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  background-color:#292929;
  z-index:-1;
}

.homepage-body {

  img.wallpaper {
    position:absolute;
    width:100%;
    top:-100px;
    right:0;
    left:0;
    z-index:-1;
  }

  .analyze-bar {
    background:#333;
    .rounded-corners();
    padding:3px;
    display:inline-block;
    text-align:left;
    color:white;

    .add-on {
      padding:10px 9px 8px;
      font-size:23px;
      color:#555;
      height:20px;
      cursor:pointer;
    }

    .where {
      width:300px;
    }

    .when-type {
      width:122px;
    }

    form {
      margin-bottom:0px;
    }

    input {
      padding:9px 13px;
      font-size:20px;
      line-height:20px;
    }

    select {
      font-size:20px;
      height:40px;
      line-height:40px;
      color:#555;
    }

    button {
      font-size:20px;
      padding:10px 23px;
      .rounded-corners(4px);
    }

    .checkbox {
      padding:3px 0;
      width:30%;
    }
  }

  .rounded-corners (@radius: 5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
  }

  .center { 
    float:none; 
    margin-left:auto; 
    margin-right:auto; 
  }

  .blueprint {
    height:400px;
  }
}
