#big-strong-greg {
  color:black;
}

.full-height {
  height:300px;
}

.label {
  padding: 10px 20px;
  text-size: 28px;
}

#main {
  color:#32363B;
}

#overview_table {
  vertical-align:middle;
  padding:0px;
}


#overview_table li {
  size:18px;
}
