<div class='span10 offset1' id='main'>
  <div class="row-fluid">
    <div class='span8 offset2' style="padding-top:20px; padding-bottom:20px;">
      <h3>Editing User</h3>
       
      <%= render 'admin/users/form' %>
    </div>
  </div>
</div>
