<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/head' %>
  </head>
  <body class='application-body <%= @body_class %>' data-spy="scroll" data-target="#analysis_navbar">

    <div class="navbar navbar-fixed-top navbar-inverse" id="analysis_navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Rentalyzer</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li>
                <a href="#overview">overview</a>
              </li>
              <li>
                <a href="#low">low</a>
              </li>
              <li>
                <a href="#middle">middle</a>
              </li>
              <li>
                <a href="#high">high</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
